/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, lightblue, white);
  height: 100vh; /* Pagina volledig vullen */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header{
    background: white;
    height: 300px;

}




#container {
  text-align: center;
  padding: 20px;
  position: relative; /* Voor fout-afbeelding positionering */
  z-index: 1; /* Normale inhoud heeft lagere prioriteit dan de fout-afbeelding */
}

#section1, #section5 {
  margin-bottom: 20px;
}

#image1, #error-image {
  max-width: 100%;
  height: auto;
}

#question-section {
  margin-bottom: 20px;
}

#answer {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  font-size: 16px;
}

#next-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#next-button:hover {
  background-color: darkblue;
}

/* Fout-afbeelding knipperend en vóór de tekst */
#error-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Zorg dat het voor alles komt */
  display: none;
  animation: blink 1s 5; /* Knippert 5 keer en stopt */
  width: 80%; /* 50% van de breedte van de container */
  max-width: 800px; /* Maximale breedte */
  height: auto; /* Verhoudingen behouden */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
